<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="my-footer">
    <script src="../asset/plugin/jquery/jquery.min.js"></script>
    <script src="../asset/plugin/bootstrap/bootstrap.min.js"></script>
    <script src="../asset/plugin/bootstrap-fileinput/bootstrap-fileinput.js"></script>
    <script src="../asset/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../asset/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="../asset/plugin/node-waves/waves.js"></script>
    <script src="../asset/plugin/jquery-validation/jquery.validate.js"></script>
    <script src="../asset/plugin/jquery-validation/messages_zh.js"></script>
    <script src="../asset/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Custom Js -->
    <script src="../asset/admin/js/default.js"></script>
    <script src="../asset/admin/js/main.js"></script>
</div>
</html>